<!doctype html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="UTF-8">
    <title>Adamantium</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) assets/styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) assets/styles/main.css -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->
    <!-- build:js assets/scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
<body>
  <h1>Adamantium</h1>

  <!-- build:js({app,.tmp}) assets/scripts/main.js -->
  <script src="assets/scripts/main.js"></script>
  <!-- endbuild -->
</body>
</html>
